#background-color {
  background-color: lightgray;
}

.container {
  margin-top: 30px;
}

.nav-link {
  font-weight: bolder;
  margin-right: 50px;
  font-size: 1.9rem;
  color: black !important;
}

.nav-link:hover {
  text-decoration: underline red;
}

.img_portfolio {
  height: 350px;
  width: 280px;
  border-radius: 4em;
  margin-left: -17px;
}

#designation {
  font-weight: bolder;
  color: red;
}

#about-1,
#about-2 {
  font-size: 1.25rem;
}
#about-1 {
  margin-top: 20px;
}

.social_media {
  font-size: 50px;
  color: gray;
  margin-right: 30px;
  text-decoration: none;
}

.social_media:hover{
  color: red;
}


.end-line {
  width: 60%;
  color: red;
  margin-top: 150px;
  height: 6px !important;
}

.made_by {
  margin-top: 20px;
  font-size: 18px;
}



.responsive_mobile {
  display: none;
}

@media screen and (max-width: 768px) {
  .main {
    display: none;
  }

  .responsive_mobile {
    display: inline;
  }

  .img_portfolio_2 {
    height: 350px;
    width: 280px;
    border-radius: 4em;
   
  }

  #intro_2{
    text-align: center;
    margin-top: 15px;
}

#designation_2{
    text-align: center;
color: red;
}

.about_2{
    text-align: center;
}
.end-line_2 {
    width: 60%;
    color: red;
    margin-top: 50px;
    height: 6px !important;
  }
  
  .made_by_2 {
    margin-top: 20px;
    font-size: 18px;
  }



}


@media screen and (max-width: 990px) {

    .img_portfolio {
        height: 280px;
        width: 200px;
        border-radius: 4em;
        margin-left: -58px;

      }

}

 /* @media screen and (max-width: 1295px) {
.img_portfolio{
  height: 304px;
  width: 214px;
  border-radius: 4em;
}

} */

@media screen and (max-width: 1196px) {
  .img_portfolio{
    height: 319px;
    width: 238px;
    border-radius: 4em;
  
  }
 
} 


@media screen and (max-width: 986px) {
  .img_portfolio{
    height: 319px;
    width: 238px;
    border-radius: 4em;
    margin-left: -83px !important;
  
  }
 
} 